@tailwind base;
@tailwind components;
@tailwind utilities;

/* - Dark Gray: hsl(0, 0%, 55%)
- Very Dark Gray: hsl(0, 0%, 41%) */

@layer components {
  .nav {
    @apply hover:underline text-white underline-offset-8 cursor-pointer decoration-2
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h4, p {
  font-family: 'Josefin Sans', sans-serif;
}

#creation-button, h5 {
  font-family: 'Alata', sans-serif;
}

p {
  font-size: 15px;
}
